.main-container1 {
    max-width: 1920px;
    margin: 0 auto;
    padding-top: 50px;
}

@media (max-width: 620px) {
 .main-container1 {
    max-width: 100%;
 }   
}


.top-header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 60px;
}



.logo-header {
    display: flex;
    justify-content: start;
    gap: 4px;
    padding-left: 160px;
}

@media (max-width: 1501px) {
    .logo-header {
        padding-left: 60px;
    }
}


@media (max-width: 1024px) {
    .logo-header {
        margin-bottom: 30px;
    }
}

@media (max-width: 620px) {
    .logo-header {
        margin-top: 15px;
        margin-bottom: 30px;
        padding-left: 15px;
    }
}

@media (max-width: 500px) {
    .logo-header {
       align-items: center;
       margin-bottom: 15px;
    }
}

@media (max-width: 500px) {
    .logo {
        max-width: 85px;
    }
}

.navigation-dropdown {
    display: flex;
    flex-direction: column;
    gap: 15px;
}


.nav-head-info {
    display: flex;
    align-items: center;
    gap: 7px;
    width: 100%;
    padding-right: 160px;
}

@media (max-width: 1501px) {
    .nav-head-info {
        padding-right: 60px;
    }
}

@media (max-width: 1024px) {
    .nav-head-info {
        padding-left: 60px;
    }
}

@media (max-width: 620px) {
    .nav-head-info {
        padding-left: 15px;
    }
}

.devider-lang-cont {
    display: flex;
}

.devider-lang {
    font-family: 'Montserrat';
    font-weight: 800;
    font-size: 12px;
    color: #B3B3BA;
    padding: 5px 7px;
    cursor: pointer;
}

.devider-lang:hover {
    color: #B3B3BA;
    padding: 5px 7px;
    border-radius: 8px;
    background-color: #F5F5FA;
}

.devider-lang:active {
    color: #ffff;
    padding: 5px 7px;
    border-radius: 8px;
    background-color: #F0145A;
}

.devider-adress {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 16px;
    color: #B3B3BA;
}

@media (max-width: 620px) {
 .devider-adress {
    display: none;
 }   
}

.devider-number {
    font-family: 'Montserrat';
    font-weight: 800;
    font-size: 16px;
    color: #B3B3BA;
}

.devider-dot {
    color: #E6E6F0;
    font-size: 25px;
}

@media (max-width: 620px) {
 .devider-dot {
    display: none;
 }   
}

.devider-facebook {
    height: auto;
    max-width: 100%;
    fill: #B3B3BA;
    cursor: pointer;
}

.devider-facebook:hover {
    fill: #F0145A;
}

@media (max-width: 620px) {
 .devider-facebook {
    display: none;
 }   
}


.page-name {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 36px;
}

@media (max-width: 500px) {
 .page-name {
    font-size: 20px;
 }   
}

.menu-toggle-icon {
    display: none; 
}

.main-navigation {
    display: flex;
    justify-content: end;
    padding-right: 160px;
}

@media (max-width: 1501px) {
    .main-navigation {
        padding-right: 60px;
    }
}

@media (max-width: 1024px) {
    .main-navigation {
        justify-content: end;
        padding-left: 60px;
    }
}

@media (max-width: 987.5px) {
    .main-navigation {
        justify-content: start;
        padding-left: 60px;
    }
}

@media (max-width: 620px) {
    .main-navigation {
        padding-left: 15px;
    }
}


.nav-list {
    display: flex;
    list-style: none;
    gap: 15px;
}


.top-nav-link {
    font-family: 'Montserrat';
    text-decoration: none;
    font-weight: 800;
    font-size: 16px;
    color: #24A3FF;
}

.top-nav-link {
    text-decoration: none;
    font-family: 'Montserrat';
    text-decoration: none;
    font-weight: 800;
    font-size: 16px;
    transition: color 0.3s ease;
    position: relative;
}


.top-nav-link::after {
    content: '';
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #24A3FF;
    transform: scaleX(0);
    transform-origin: bottom left;
    transition: transform 0.3s ease-out;
}

.top-nav-link:hover {
    color: #24A3FF;
}

.top-nav-link:active {
    color: #F0145A;
}

.top-nav-link:hover::after {
    transform: scaleX(1);
}

.top-nav-link:active::after {
    transform: scaleX(1);
    background-color: #F0145A;
}






@media (max-width: 620px) {
    .main-container1 {
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 15px;
    }
    
    .top-header {
        flex-direction: row; 
        justify-content: space-between;
        align-items: center;
        margin-bottom: 30px; 
    }
    
    .menu-activator-area {
        position: relative; 
        z-index: 1000;
    }

    .menu-toggle-icon {
        display: block;
        cursor: pointer;
        width: 30px;
        height: 3px;
        margin-right: 15px;
        background: #323264;
        position: relative;
    }
    .menu-toggle-icon::before,
    .menu-toggle-icon::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background: #323264;
        transition: transform 0.3s;
    }
    .menu-toggle-icon::before { top: -8px; }
    .menu-toggle-icon::after { top: 8px; }

    .navigation-dropdown {
        position: absolute;
        top: 100%; 
        right: 0;
        width: 220px;
        background-color: #f5f5fa; 
        box-shadow: 0 4px 8px rgba(0,0,0,0.1);
        max-height: 0;
        overflow: hidden;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.3s, visibility 0.3s, max-height 0.3s ease-in-out;
        flex-direction: column;
        padding: 0;
    }

    .menu-activator-area:hover .navigation-dropdown {
        max-height: 500px;
        opacity: 1;
        visibility: visible;
        padding: 15px;
    }

    .menu-activator-area:hover .menu-toggle-icon {
        background: transparent;
    }
    .menu-activator-area:hover .menu-toggle-icon::before {
        transform: translateY(8px) rotate(45deg);
    }
    .menu-activator-area:hover .menu-toggle-icon::after {
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-head-info,
    .main-navigation ul {
        flex-direction: column;
        align-items: flex-start;
        justify-content: start;
        gap: 10px;
        margin-bottom: 15px;
    }
}



.main-container {
    margin: 0 auto;
    max-width: 1920px;
    /* padding-left: 60px;
    padding-right: 60px; */
}

.team-section {
    margin-bottom: 60px;
    padding-left: 60px;
    padding-right: 60px;
}

@media (max-width: 500px) {
    .team-section {
        padding-left: 30px;
        padding-right: 30px;
        margin-bottom: 30px;
    }
}


.team-section-title {
    margin: auto;
    max-width: 1360px;
    font-family: 'Montserrat';
    font-weight: 800;
    font-size: 38px;
    background-image: linear-gradient(to right, #F0145A, #EF8080);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 60px;
}

@media (max-width: 1710px) {
    .team-section-title {
        max-width: 900px;
    }
}

@media (max-width: 1290px) {
    .team-section-title {
        max-width: 800px;
    }
}

@media (max-width: 1080px) {
    .team-section-title {
        max-width: 660px;
    }
}

@media (max-width: 840px) {
    .team-section-title {
        max-width: 100%;
    }
}


@media (max-width: 500px) {
    .team-section-title {
        max-width: 100%;
        font-size: 30px;
        margin-bottom: 30px;
    }
}

@media (max-width: 460px) {
    .team-section-title {
        max-width: 100%;
    }
}



.team-members-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 60px 60px;
}

@media (max-width: 500px) {
    .team-members-links {
        gap: 30px;
    }
}


.img-container {
    max-width: 493px;
    max-height: 400px;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-bottom: 15px;
}

@media (max-width: 1719px) {
    .img-container {
        max-width: 450px;
    }
}

@media (max-width: 1710px) {
    .img-container {
        max-width: 415px;
    }
}
@media (max-width: 1589px) {
    .img-container {
        max-width: 380px;
    }
}
@media (max-width: 1380px) {
    .img-container {
        max-width: 350px;
    }
}
@media (max-width: 1290px) {
    .img-container {
        max-width: 315px;
    }
}

@media (max-width: 1184px) {
    .img-container {
        max-width: 280px;
    }
}

@media (max-width: 1080px) {
    .img-container {
        max-width: 260px;
    }
}

@media (max-width: 1020px) {
    .img-container {
        max-width: 450px;
    }
}

@media (max-width: 980px) {
    .img-container {
        max-width: 380px;
    }
}

@media (max-width: 940px) {
    .img-container {
        max-width: 330px;
    }
}


@media (max-width: 840px) {
    .img-container {
        max-width: 290px;
    }
}

@media (max-width: 760px) {
    .img-container {
        max-width: 250px;
    }
}

@media (max-width: 680px) {
    .img-container {
        max-width: 500px;
    }
}


@media (max-width: 500px) {
    .img-container {
        max-width: 450px;
        max-height: 410px;
    }
}

@media (max-width: 460px) {
    .img-container {
        max-width: 315px;
        max-height: 300px;
    }
}




.member-photo {
    width: 500px;
    height: 500px;
}

@media (max-width: 1184px) {
    .member-photo {
        max-width: 400px;
        max-height: 400px;
    }
}

@media (max-width: 460px) {
    .member-photo {
        max-width: 300px;
        max-height: 300px;
    }
}

.member-link-container {
    position: relative;     
}

.member-name-link {
    font-family: 'Montserrat';
    font-weight: 800;
    font-size: 16px;
    color: #323264;
}

.member-link-container:hover .member-name-link {
    color: #F0145A;
    transition: color 0.3s;
}

.member-position {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 14px;
    margin-top: 5px;
}

.more-icon-btn {
    position: absolute;
    top: 0;
    right: 0;
    background-color: transparent;
    cursor: pointer;
}

.arrow-right {
    stroke: #24A3FF;
}

.member-link-container:hover .arrow-right {
    stroke: #F0145A;
    transition: color 0.3s;
}













.footer-container {
    margin: 0 auto;
    max-width: 1920px;
    background-color: #F5F5FA;
    padding: 30px 160px;
}

@media (max-width: 1501px) {
    .footer-container {
        padding-left: 60px;
        padding-right: 60px;
    }
}


.footer-info {
    display: flex;
    justify-content: space-between;
}

@media (max-width: 1010px) {
    .footer-info {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}


@media (max-width: 396px) {
    .footer-info {
       width: 315px;
       align-items: start;
    }
}

.info {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 21px;
}


@media (max-width: 396px) {
    .info {
       align-items: center;
    }
}

@media (max-width: 1010px) {
    .info {
        margin-bottom: 30px;
    }
}

@media (max-width: 500px) {
    .info {
        align-items: center;
    }
}


.devider-dot {
    color: #E6E6F0;
    font-weight: 700;
}

.info-address {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 16px;
    color: #46466E;
}

.on-map {
    font-family: 'Montserrat';
    font-weight: 800;
    font-size: 12px;
    color: #24A3FF;
    background-color: transparent;
    cursor: pointer;
}

.info1 {
    display: flex;
    align-items: center;
    gap: 10px;
}


@media (max-width: 381px) {
    .info1 {
    flex-direction: column;
    align-items: center;
}
}


.info2 {
    display: flex;
    align-items: center;
    gap: 10px;
}

@media (max-width: 500px) {
    .info2 {
    flex-direction: column;
}
}


.info-phone {
    font-family: 'Montserrat';
    font-weight: 800;
    font-size: 16px;
    color: #46466E;
}

.info-email {
    font-family: 'Montserrat';
    font-weight: 800;
    font-size: 16px;
    color: #24A3FF;
    background-color: transparent;
    cursor: pointer;
}

.info-email:hover {
    color: #F0145A;
}

.copyright {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 16px;
    color: #B3B3BA;
}

@media (max-width: 396px) {
    .copyright {
        max-width: 315px;
    }
}

.footer-facebook {
    fill: #24A3FF;
    cursor: pointer;
}

.footer-facebook:hover {
    fill: #F0145A;
}