@font-face {
    font-family: 'Cera Pro Regular';
    src: url('CeraPro/CeraPro-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Cera Pro Bold';
    src: url('CeraPro/CeraPro-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Cera Pro Black';
    src: url(CeraPro/CeraPro-Black.ttf) format('truetype');
}

@font-face {
    font-family: 'Cera Pro Medium';
    src: url(CeraPro/CeraPro-Medium.ttf);
}

@font-face {
    font-family: 'Cera Pro Light';
    src: url(CeraPro/CeraPro-Light.ttf);
}



.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #FBFBFB;
    color: #3D3D3D;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 10000;
    overflow: hidden;
    transition: opacity 0.5s ease-out, visibility 0.5s; 
    cursor: pointer; 
}


.css-spinner {
    width: 50px;
    height: 50px;
    margin-bottom: 30px;
    border: 5px solid rgba(50, 47, 47, 0.3);
    border-top-color: #46A358;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

.click-prompt {
    font-family: 'Cera Pro Regular';
    font-size: 25px;
}

@keyframes spin {
    to { transform: rotate(360deg); }
}

.preloader:active {
    opacity: 0;
    pointer-events: none;
    visibility: hidden; 
}

.preloader-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}


.main-container {
    margin: 0 auto;
    max-width: 1200px;
    margin-top: 15px;
}

.top-header-planet {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba(70, 163, 88, 0.5);
    padding-bottom: 18px;
    margin-bottom: 12px;
}

.logo {
    width: 150px;
    height: 35px;
}

.nav-list-planet {
    display: flex;
    gap: 47px;
}

.nav-link-planet {
    font-family: 'Cera Pro Regular';
    font-size: 16px;
    color: #3D3D3D;
}

.nav-link-planet:hover {
    color: #46A358;
}

.nav-item-planet {
    position: relative;
}

.nav-item-planet:hover .sub-list-planet {
    display: flex;
    flex-direction: column;
    gap: 14px;
    font-family: 'Encode Sans Expanded';
    font-size: 16px;
    color: #3D3D3D;
    padding: 7px 14px;
    
}

.sub-list-planet {
  position: absolute;
  display: none;
  top: 100%;
  left: -40px;
  width: 250%;
  background-color: #EDF6EE;
  background-clip: padding-box;
}

.sub-nav-link-planet {
    color: #3D3D3D;
    font-size: 16px;
}


.sub-nav-item-planet:hover {
    background-color: #1A712A;
    color: #ffff;
    cursor: pointer;
}

.sub-nav-item-planet:hover .sub-nav-link-planet {
    color: #ffffff;
}

.sub-sub-nav-item-planet:hover {
    background-color: #1A712A;
    cursor: pointer;
}

.sub-nav-item-planet {
    position: relative;
}

/* .sub-sub-list {
    position: absolute;
    display: none;      
    top: 0px;       
    left: 110%;
    width: 250%;
    background-color: #EDF6EE;
    padding-right: 10px;
    background-clip: content-box;
    padding: 7px 14px;
}

.sub-nav-item:hover .sub-sub-list {
    display: flex;
    flex-direction: column;
    gap: 14px;
    font-family: 'Encode Sans Expanded';
    font-size: 16px;
    color: #3D3D3D;
    padding: 7px 14px;
}

.sub-sub-nav-item:hover .sub-sub-nav-link {
    color: #ffffff;
} */





.login {
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 7px 17px;
    background-color: #46A358;
    border-radius: 6px;
}

.login:hover {
    background-color: #368646;
    cursor: pointer;
}



.login-text {
    font-family: 'Cera Pro Medium';
    font-size: 16px;
    color: #ffff;
}





.bottom-container-planet {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FBFBFB;
    margin-bottom: 46px;
}

.bottom-header-planet {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.bottom-text-planet {
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    max-width: 560px;
    max-height: 297px;
    margin-top: 68px;
}

.welcome {
    font-family: 'Cera Pro Medium';
    font-size: 14px;
    color: #3D3D3D;
    margin-bottom: 7px;
}

.better-planet {
    font-family: 'Cera Pro Black';
    font-size: 70px;
    color: #3D3D3D;
    margin-bottom: 5px;
}

.planet {
   font-family: 'Cera Pro Black';
    font-size: 70px;
    color:#46A358; 
}

.text-planet {
    font-family: 'Cera Pro Regular';
    font-size: 14px;
    color: #727272;
    margin-bottom: 44px;
    line-height: 1.5;
}


.shop-now {
    font-family: 'Cera Pro Bold';
    font-size: 16px;
    color: #ffff;
    background-color: #46A358;
    padding: 8px 26px;
    border-radius: 6px;
}

.shop-now:hover {
    background-color: #368646;
    cursor: pointer;
}





.container-categories {
    display: flex;
    gap: 48px;
    margin-bottom: 146px;
}

.product-list-area {
    flex-grow: 1;
}

.categ-title2 {
    display: flex;
    flex-direction: column;
    gap: 36px;
    width: 310px;
    height: 774px;
    line-height: 2.3;
    padding: 14px 24px 0px 14px;
    background-color: #FBFBFB;
}

.categ-title-head {
    font-family: 'Cera Pro Bold';
    font-size: 18px;
    color: #3D3D3D;
}

.categ-item {
    display: flex;
    width: 256px;
    justify-content: space-between;
    margin-left: 12px;
}


.categ-link {
    font-family: 'Cera Pro Regular';
    font-size: 15px;
    color: #3D3D3D;
}


.categ-link:hover {
    color: #46A358;
}

.item-count {
    font-family: 'Cera Pro Regular';
    font-size: 15px;
    color: #3D3D3D;
}

.price-text {
    font-family: 'Cera Pro Regular';
    font-size: 15px;
    color: #3D3D3D;
    margin-bottom: 16px;
    margin-left: 12px;
}

.price-text-span{
    font-family: 'Cera Pro Bold';
    font-size: 15px;
    color: #46A358;
}





.range-slider-container {
    width: 215px;
<<<<<<< HEAD
    height: 15px;
=======
    height: 15px; 
>>>>>>> 45a0021e4208eaa6bd10ba9e7ea32a49a93cab54
    margin-top: 15px;
    margin-left: 12px;
    position: relative;
}

.range-slider-container::before {
    content: '';
    position: absolute;
    top: 0.5px;
    transform: translateY(-50%);
    width: 100%;
<<<<<<< HEAD
    height: 4px;
    background: rgba(70, 163, 88, 0.1);
=======
    height: 4px; 
    background: rgba(70, 163, 88, 0.1); 
>>>>>>> 45a0021e4208eaa6bd10ba9e7ea32a49a93cab54
    z-index: 1;
    border-radius: 2px;
}

.slider-track {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 4px;
<<<<<<< HEAD
    background: #46A358;
=======
    background: #46A358; 
>>>>>>> 45a0021e4208eaa6bd10ba9e7ea32a49a93cab54
    z-index: 2;
    border-radius: 2px;
}

<<<<<<< HEAD
=======

>>>>>>> 45a0021e4208eaa6bd10ba9e7ea32a49a93cab54
.range-slider {
    position: absolute;
    width: 100%;
    height: 15px; 
    background: none; 
<<<<<<< HEAD
    pointer-events: none;
=======
    pointer-events: none; 
>>>>>>> 45a0021e4208eaa6bd10ba9e7ea32a49a93cab54
    -webkit-appearance: none;
    appearance: none;
    z-index: 3;
}

.range-slider::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    background: transparent;
    border: none;
    height: 15px; 
}

.range-slider::-moz-range-track {
    background: transparent;
    border: none;
    height: 15px;
}

.range-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
<<<<<<< HEAD
    pointer-events: all;
=======
    pointer-events: all; 
>>>>>>> 45a0021e4208eaa6bd10ba9e7ea32a49a93cab54
    width: 17px; 
    height: 17px; 
    border-radius: 50%;
    background: #46A358; 
    border: 2px solid white; 
    cursor: pointer;
<<<<<<< HEAD
    margin-top: -7px;
=======
    margin-top: -7px; 
>>>>>>> 45a0021e4208eaa6bd10ba9e7ea32a49a93cab54
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 1);
}




.filter {
    font-family: 'Cera Pro Bold';
    font-size: 16px;
    color: #fff;
    padding: 8px 26px;
    background-color: #46A358;
    border-radius: 6px;
    margin-left: 12px;
}

.filter:hover {
    background-color: #368646;
    cursor: pointer;
}


.categ-img {
    max-width: 370px;
    max-height: 470px;
}



.categ-menu {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-bottom: 20px;
}

.categ-nav-list {
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.categ-nav-link {
    font-family: 'Cera Pro Regular';
    font-size: 15px;
    color: #3D3D3D;
}

.categ-nav-link:hover {
    color: #46A358;
}


.card {
    position: relative;
}

.categ-cards-menu {
    display: flex;
    flex-wrap: wrap;
    column-gap: 33px;
    row-gap: 70px;
    margin-bottom: 90px;
}

.categ-dropdown-list {
    display: flex;
    align-items: center;
    gap: 5px;
    background-color: transparent;
}

.dropdown-text {
    font-family: 'Cera Pro Regular';
    font-size: 16px;
    color:#3D3D3D;
}

.img-container {
    background-color: #FBFBFB;
    width: 258px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 12px;
}

.card:hover .icons {
  opacity: 1;
  visibility: visible;
}


.icons {
    position: absolute;
    top: 210px;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10px;
    opacity: 0;
    transform: translateY(100%); 
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.icon-menu {
    background-color: #ffff;
    padding: 8px;
    border-radius: 4px;
}

.product-title {
    font-family: 'Cera Pro Regular';
    font-size: 16px;
    color: #3D3D3D;
    margin-bottom: 6px;
}

.product-price {
    font-family: 'Cera Pro Bold';
    font-size: 18px;
    color: #46A358;
}

.pages2 {
    display: flex;
    justify-content: end;
    padding: 0;
    gap: 8px;
}

.pages3 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px 12 px;
    width: 35px;
    height: 35px;
    border: 1px solid #E5E5E5;
    border-radius: 6px;
    color: #3D3D3D;
}

.pages3:hover {
    color: #fff;
    background-color: #46A358;
    cursor: pointer;
    border: 1px solid #46A358;
}

.number {
    font-family: 'Cera Pro Light';
    font-size: 18px;
    color: #3D3D3D;
}

/* .number:hover {
    color: #fff;
} */







.header-top {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 58px;
    flex-wrap: wrap;
    margin-top: 40px;
    margin-bottom: 138px;
}

.top-img {
    display: flex;
}

.header-top-first {
    display: flex;
    align-items: center;
    gap: 30px;
    max-width: 586px;
    max-height: 291px;
    background-color: #FBFBFB;
}

.header-top-text {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    flex-wrap: nowrap;
    }


.header-top-header {
    text-align: end;
    font-family: 'Cera Pro Black';
    font-size: 18pt;
    color: #3D3D3D;
    margin-bottom: 9px;
}

.header-top-text-item {
    font-family: 'Cera Pro Regular';
    font-size: 14pt;
    color: #727272;
    text-align: end;
    margin-bottom: 25px;
}

.find-more {
    display: flex;
    align-items: center;
    gap: 5px;
    font-family: 'Cera Pro Regular';
    font-size: 14pt;
    color: #ffff;
    padding: 11px 28px;
    background-color: #46A358;
    border-radius: 6px;
}

.find-more:hover {
    background-color: #368646;
    cursor: pointer;
}

.btn-arrow-right {
    padding-top: 5px;
}






.header-top-second {
    display: flex;
    align-items: center;
    gap: 30px;
    max-width: 586px;
    max-height: 291px;
    background-color: #FBFBFB
}

.header-middle {
    text-align: center;
}

.header-middle-main {
    font-family: 'Cera Pro Black';
    font-size: 30pt;
    color: #3D3D3D;
    margin-bottom: 15px;
}

.header-middle-text {
    font-family: 'Cera Pro Regular';
    font-size: 14pt;
    color: #727272;
    margin-bottom: 35px;
}





.header-top-blogs {
    display: flex;
    gap: 28px;
    flex-wrap: nowrap;
    margin-top: 40px;
    margin-bottom: 138px;
}


.header-top-blg {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 586px;
    height: 250px;
    background-color: #FBFBFB;
    position: relative;

}

.top-img {
    position: absolute;
    width: 292px;
    bottom: 5%;
    right: 50%;
}

.header-top-text {
    margin-right: 30px;
}

.header-top-header {
    text-align: end;
    width: 150px;
    font-family: 'Cera Pro Black';
    font-size: 18px;
    color: #3D3D3D;
    margin-bottom: 9px;
    line-height: 1.5;
}

.header-top-text-item {
    font-family: 'Cera Pro Regular';
    width: 292px;
    font-size: 14px;
    color: #727272;
    text-align: end;
    margin-bottom: 25px;
    line-height: 1.5;
}

.find-more {
    display: flex;
    align-items: center;
    gap: 2px;
    font-family: 'Cera Pro Regular';
    font-size: 14px;
    color: #ffff;
    padding: 11px 28px;
    background-color: #46A358;
    border-radius: 6px;
}



.header-top-second {
    display: flex;
    align-items: center;
    gap: 30px;
    max-width: 586px;
    max-height: 291px;
    background-color: #FBFBFB
}

.header-middle {
    text-align: center;
}

.header-middle-main {
    font-family: 'Cera Pro Bold';
    font-size: 30px;
    color: #3D3D3D;
    margin-bottom: 15px;
}

.header-middle-text {
    font-family: 'Cera Pro Regular';
    font-size: 14px;
    color: #727272;
    margin-bottom: 35px;
}



.header-bottom {
    display: flex;
    justify-content: start;
    gap: 42px;
    flex-wrap: wrap;
}


.bottom-main-text {
    background-color: #FBFBFB;
    width: 268px;
    padding-bottom: 12px;
    margin-bottom: 100px;
}

.bottom-img {
    margin-bottom: 8px;
}

.bottom-text-green {
    font-family: 'Cera Pro Medium';
    font-size: 14px;
    color: #46A358;
    margin-bottom: 4px;
    margin-left: 13px;
}

.bottom-header{
    width: 202px;
    font-family: 'Cera Pro Bold';
    font-size: 20px;
    color: #3D3D3D;
    margin-bottom: 4px;
    margin-left: 13px;
    line-height: 1.5;
}

.bottom-text {
    font-family: 'Cera Pro Regular';
    font-size: 14px;
    color: #727272;
    margin-left: 13px;
    line-height: 1.5;
    margin-bottom: 9px;
}

.blg-read-more {
    display: flex;
    align-items:baseline;
    gap: 3px;
    margin-left: 15px;
    font-family: 'Cera Pro Medium';
    font-size: 14px;
    color: #3D3D3D;
}

.blg-read-more:hover {
    color: #46A358;
}








.main-container-news {
    padding: 24px 25px;
    background-color: #FBFBFB;
}

.top-header {
    display: flex;
    justify-content: start;
    gap: 62px;
}


.about-us {
    display: flex;
    justify-content: start;
    flex-direction: row;
    gap: 30px;

}

.about-us > div:not(:last-child) {
    border-right: 2px solid rgba(70, 163, 88, 0.1); 
    padding-right: 30px; 
}


.plant1 {
    width: 61px;
    height: 94px;
    margin-bottom: 15px;
    margin-left: 16px;
}

.plant2 {
    width: 68px;
    height: 90px;
    margin-bottom: 19px;
    margin-left: 15px;
}

.plant3 {
    width: 83px;
    height: 88px;
    margin-bottom: 21px;
    margin-left: 7px;
}

.plant1, .plant2, .plant3 {
    position: relative;
    z-index: 2;
}

.garden-care,
.plant-renovation,
.watering-garden {
    position: relative;
}

.circle {
    width: 74px;
    height: 74px;
    border-radius: 50%;
   background-color: rgba(70, 163, 88, 0.2);
    position: absolute;
    top: 12%; 
    left: 17%;
    transform: translateX(-50%);
    z-index: 1; 
}

.about-us-head {
    font-family: 'Cera Pro Bold';
    font-size: 17px;
    color: #3D3D3D;
    margin-bottom: 9px;
}

.about-us-text {
    font-family: 'Cera Pro Regular';
    font-size: 14px;
    color: #3D3D3D;
    line-height: 1.5;
    width: 204px;
}




.newsletters {
    display: flex;
    justify-content: start;
    flex-direction: column;
}

.join-news-head {
    font-family: 'Cera Pro Bold';
    font-size: 18px;
    color: #3D3D3D;
    margin-bottom: 25px;
}

/* .email-adress-container {
    display: flex;
    justify-content: start;
    flex-direction: row;
    gap: 0;
} */

.email-form {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    max-width: 354px;
    height: 40px;
    border-radius: 6px;
    background-color: #ffff;
    margin-bottom: 18px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.email-input {
    flex-grow: 1;
    font-family: 'Cera Pro Regular';
    font-size: 14px;
    padding: 12px 86px 12px 11px;
    outline: none;
}

.join-btn {
    flex-shrink: 0;
    font-family: 'Cera Pro Bold';
    font-size: 18px;
    color: #ffff;
    padding: 12px 25px;
    background-color: #46A358;
    border-radius: 6px;
    cursor: pointer;
}

.join-btn:hover {
    background-color: #368646;
    cursor: pointer;
}

.join-news-text {
    font-family: 'Cera Pro Regular';
    font-size: 13px;
    line-height: 1.5;
    width: 354px;
}





.middle-header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 155px;
    padding: 25px 22px 19px 23px;
    background: linear-gradient(to right, #EDF6EF, #52C368);
}

.logo {
    width: 150px;
    height: 34;
}

.place {
    display: flex;
    align-items: center;
    gap: 9px;
}

.place-text {
    font-family: 'Cera Pro Regular';
    font-size: 14px;
    color: #3D3D3D;
    max-width: 170px;
    line-height: 1.5;
}

.place-text:hover {
    color: #46A358;
}

.email {
    display: flex;
    align-items: center;
    gap: 9px;
}

.email-text {
    font-family: 'Cera Pro Regular';
    font-size: 14px;
    color: #3D3D3D;
}

.email-text:hover {
    color: #46A358;
}

.contact {
    display: flex;
    align-items: center;
    gap: 9px;
}

.contact-text {
    font-family: 'Cera Pro Regular';
    font-size: 14px;
    color: #3D3D3D;
}

.contact-text:hover {
    color: #46A358;
}




.news-bottom-header {
    display: flex;
    justify-content: start;
    align-items: baseline;
    gap: 173px;
}

.news-bottom-header-lists {
    display: flex;
    justify-content: start;
    gap: 155px;
    max-width: 623px;
    line-height: 2;
}

.news-bottom-head {
    font-family: 'Cera Pro Bold';
    font-size: 18px;
    color: #3D3D3D;
}

.news-nav-item {
    font-family: 'Cera Pro Regular';
    font-size: 14px;
    color: #3D3D3D;
}

.news-nav-item:hover {
    color: #46A358;
}

.bottom-header-info {
    line-height: 2.5;
}

.info-head {
    font-family: 'Cera Pro Bold';
    font-size: 18px;
    color: #3D3D3D;
}

.payment {
    width: 224px;
}

.info-icon {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
    margin-bottom: 27px;
}

.icon-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    width: 30px; 
    height: 30px;
    border: 2px solid rgba(70, 163, 88, 0.2);
    border-radius: 4px;
    cursor: pointer;
}

.copyright {
    margin: 0 auto;
    border-top: 1px solid rgba(70, 163, 88, 0.2);
    padding-top: 7px; 
    text-align: center;
    font-family: 'Cera Pro Regular';
    font-size: 14px;
    color: #3D3D3D;
}
